*.md filter=lfs diff=lfs merge=lfs -text
*.sh filter=lfs diff=lfs merge=lfs -text
*.service filter=lfs diff=lfs merge=lfs -text
*.conflist filter=lfs diff=lfs merge=lfs -text
*.yml filter=lfs diff=lfs merge=lfs -text
*.conf filter=lfs diff=lfs merge=lfs -text
*.gitignore filter=lfs diff=lfs merge=lfs -text
*.deb filter=lfs diff=lfs merge=lfs -text
*.rules filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
*.0-dev filter=lfs diff=lfs merge=lfs -text
*.patch filter=lfs diff=lfs merge=lfs -text
*.0-rc95 filter=lfs diff=lfs merge=lfs -text
* text !filter !merge !diff
