[Unit]
Description=Setup cloudflare ddns service
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/data/cloudflare-ddns/start-sync.sh
StandardError=journal
StandardOutput=journal
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target