[Unit]
Description=Run On UDM Startup
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/sbin/ssh-proxy "/bin/rm -f /run/udm-boot.service-pid /run/udm-boot.service-cid"
ExecStart=/sbin/ssh-proxy "/usr/bin/podman start udm-boot"
ExecStop=/sbin/ssh-proxy "/usr/bin/podman stop udm-boot"
ExecStopPost=/sbin/ssh-proxy "/bin/rm -f /run/udm-boot.service-pid /run/udm-boot.service-cid"
KillMode=none

[Install]
WantedBy=multi-user.target

