Source: udm-boot
Section: contrib/utils
Priority: optional
Maintainer: Boostchicken <dorman@ataxia.cloud>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.4.1
Homepage: https://github.com/unifi-utilities/unifios-utilities
#Vcs-Browser: https://salsa.debian.org/debian/udmboot
#Vcs-Git: https://salsa.debian.org/debian/udmboot.git

Package: udm-boot
Architecture: all
Depends: ${misc:Depends}
Description: Run things on boot on UDM
 Run things on boot!
